<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <application>
    <env>production</env>
    <name>Air-Pollution-Streamr</name>
    <version>${project.version}</version>
    <artifactId>${project.artifactId}</artifactId>
  </application>
  <redis>
    <host>localhost</host>
    <port>6379</port>
  </redis>
  <sensors>
    <endpoint><![CDATA[https://data.sensor.community/static/v2/data.json]]></endpoint>
  </sensors>
  <streamr>
    <key>${env:STREAMR_KEY}</key>
    <stream>0x39af8544314405d1a9c9a0384b3118dc7a4be8af/air-pollution-streamr</stream>
  </streamr>
</configuration>
