<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <application>
    <env>production</env>
    <name>Air-Pollution-Streamr</name>
    <version>${project.version}</version>
    <artifactId>${project.artifactId}</artifactId>
  </application>
  <redis>
    <host>localhost</host>
    <port>6379</port>
  </redis>
</configuration>
